* {
	position: relative;
}

body {
	margin: 0 auto;
	background-color: #ecf0f1;
	height: 100;
}

a {
	text-decoration: none;
	color: #666;
}

a:hover {
	text-decoration: none;
}

/* navbar style */

.navbar {
	width: 100%;
	height: 6em;
	border-bottom: 2px solid #ccc;
	background-color: #fff;
}

.logo {
	background-color: #1abc9c;
	text-align: center;
	left: 3.5em;
	font-size: 2.1em;
	width: 7em;
	font-weight: 800;
	color: #fff;
	padding: 15px;
	float: left;
}

.nav-menu {
	float: right;
	
}
.nav-menu ul li {
	font-family: sans-serif;
	font-size: 1em;
	display: inline;
	text-align: center;
	top: 2.8em;
	right: 15em;

}

.nav-menu ul li:nth-child(2) {
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	padding-left: 15px;
	padding-right: 15px;
	margin-left: 10px;
	margin-right: 10px;
}

/* main content style */

.about, .contact-form, .portfolio {
	border: 1px solid #ccc;
	width: 600px;
	left: 7.4em;
	margin-top: 30px;
	margin-bottom: 50px;
	background-color: #fff;	
	float: left;
	/*height: 700px;*/
}

.about h1, .contact-form h1, .portfolio h1 {
	font-size: 2.5em;
	font-weight: 800;
	color: #1abc9c;
	padding: 15px 5px;
	margin: 20px;
	border-bottom: 2px solid #ccc;
}
.about img {
	float: left;
	width: 240px;
	height: 275px;
	margin: 20px;
}

.about p {
	font-family: sans-serif;
	font-size: 1em;
	letter-spacing: .1em;
	word-spacing: .1em;
	padding: 20px;
}

/* aside content style */

.contact {
	margin-top: 30px;
	border: 1px solid #ccc;
	width: 250px;
	float: right;
	right: 13em;	
}

.contact h2 {	
	text-align: center;
	font-size: 1.5em;
	font-weight: 800;
	color: #1abc9c;
	padding: 15px 5px;
	margin: 20px;
	border-bottom: 2px solid #ccc;
}

.contact img {	
	width: 50px;
	height: 50px;
	padding-bottom: 10px;
}

.contact img:first-child {
	margin-left: 25px;
}

/* contact form */

.form-input {
	font-family: sans-serif;
	padding: 15px 5px;
	margin: 0 20px;
	width: auto;
}

.form-input input, .form-input textarea {
	width: 550px;
	border: 1px solid #ccc;
}

.button {
	font-family: sans-serif;
	color: #fff;
	padding: 6px 15px;
	background-color: #1abc9c;
	border: none;
	margin-left: 25px;
	margin-bottom: 20px;
}

/* portfolio */

.screenshot img {
	width: 250px;
	height: 200px;
	float: left;
	margin: 20px;
	padding: 5px 5px;
}

.screenshot div {
	background-color: #1abc9c;
	color: #fff;
	font-size: 12px;
	font-family: sans-serif;
	/*padding: 5px 15px;*/
	height: 20px;
}
/* footer */

.footer {
	clear: both;
	text-align: center;
	background-color: #666;
	border-top: 5px solid #1abc9c;
	color: #fff;
	font-family: sans-serif;
	font-size: .6em
	width: 100%;
	height: 1.5em;
	padding: 30px 0;
	margin-top: 100px;
}

